{% extends 'base.html' %}
{% block title %}PyTranslate{% endblock %}
{% block nav-links %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
</ul>
{% endblock %}

{% block contents %}
<div class="container bg-light p-2 rounded">
    <div class="row mx-auto my-5">
        <div class="col-sm-1 mx-auto fs-4">
            From:
        </div>
        <div class="col-sm-10 mx-auto">
            <div class="card">
                <div class="card-header fs-5">
                  Language
                  <span class="float"></span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Translate</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row mx-auto my-5">
        <div class="col-sm-1 mx-auto fs-4">
            To:
        </div>
        <div class="col-sm-10 mx-auto">
            <div class="card">
                <div class="card-header">
                  Language
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Copy</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}