{% extends 'base.html' %}
{% block title %}PyTranslate{% endblock %}
{% block nav-links %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
</ul>
{% endblock %}

{% block contents %}
<div class="container bg-light p-2 rounded">
    <div class="row mx-auto my-5">
        <div class="col-sm-1 mx-auto fs-4">
            From:
        </div>
        <div class="col-sm-10 mx-auto">
            <div class="card">
                <div class="card-header fs-5">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Detect Language</option>
                        <option value="1">English</option>
                        <option value="2">German</option>
                        <option value="3">Spanish</option>
                      </select>
                  <span class="float"></span>
                </div>
                <div class="card-body">
                    <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Start Writting..."></textarea>
                  <a href="#" class="btn btn-primary">Translate</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}